/*============ REFERENCES =============*/

@import 'mixins'

/** Colors **/



/** Fonts **/

@font-face
  font-family: 'Montserrat-Regular'
  src: url('../fonts/Montserrat-Regular.ttf')
  font-weight: normal
  font-style: normal

$f_Montserrat-Regular: 'Montserrat-Regular', 'Arial', sans-serif

@font-face
  font-family: 'Montserrat-ExtraBold'
  src: url('../fonts/Montserrat-ExtraBold.ttf')
  font-weight: normal
  font-style: normal

$f_Montserrat-ExtraBold: 'Montserrat-ExtraBold', 'Arial', sans-serif

@font-face
  font-family: 'Montserrat-SemiBold'
  src: url('../fonts/Montserrat-SemiBold.ttf')
  font-weight: normal
  font-style: normal

$f_Montserrat-SemiBold: 'Montserrat-SemiBold', 'Arial', sans-serif


*
  box-sizing: border-box
  scroll-behavior: smooth
body
  margin: 0
  scroll-behavior: smooth

img
  width: 100%

ul
  padding: 0

a.button
  padding: 12px 40px
  border-radius: 12px !important
  font-weight: 600
  font-size: 16px
  line-height: 24px
  text-transform: uppercase
  border: none
  cursor: pointer
  @include media(768px)
    padding: 12px 48px

.container
  @include media(1220px)
    max-width: 1220px !important

/** Header **/

.mst-header
  &__logo
    width: 90px
    @include media(1024px)
      margin: 0 30px 0 0

  &__wrapper
    padding: 12px 18px
    display: flex
    justify-content: space-between
    @include media(1024px)
      justify-content: flex-start
      padding: 12px 0
    @include media(1220px)
      padding: 24px 45px 24px 0
      justify-content: space-between

  &__block
    display: flex
    align-items: center
    @include media(1024px)
      margin: 0 0 0 40px
      
  &__menu
    cursor: pointer

  &__search-icon
    display: block
    width: 30px
    height: 30px
    background: url("../img/search-icon.svg") center no-repeat
    cursor: pointer
    
  &__cart
    position: relative

  &__cart-icon
    position: relative
    margin: 0 10px
    display: block
    width: 30px
    height: 30px
    background: url("../img/cart-icon.svg") center no-repeat
    cursor: pointer

  &__cart-amount
    background: #284cc4
    font-size: 10px
    font-weight: 600
    position: absolute
    border-radius: 50%
    top: 2px
    text-align: center
    left: 30px
    width: 12px
    height: 12px
    color: #fff
    border: 2px solid #fff
    
  &__menu-icon
    margin: 0 10px
    display: block
    width: 20px
    height: 20px
    background: url("../img/menu-icon.svg") center no-repeat
    @include media(1024px)
      display: none

  &__close-icon
    margin: 0 10px
    display: none
    width: 20px
    height: 20px
    background: url("../img/close-icon.svg") center no-repeat


  &__nav
    //height: 96vh
    @include media(1024px)
      display: flex
      align-items: center
      height: auto

  &__nav_active
    height: 96vh

  &__nav-list
    display: none
    list-style: none
    padding: 18px 30px
    position: absolute
    background: #ffffff
    width: 100%
    height: 100%
    top: 56px
    left: 0
    z-index: 2
    @include media(1024px)
      padding: 0
      margin: 0
      position: static
      height: auto
      display: flex
      align-items: center
    @include media(1220px)
      margin: 0 260px 0 0
  &__nav-list_active
    display: block

  &__item-link
    display: flex
    align-items: center
    flex-direction: column
    &:hover
      .mst-header__submenu
        display: block
      .mst-header__item-arrow
        transform: rotate(90deg)
    @include media(1024px)
      flex-direction: row
      &:hover
        .mst-header__submenu
          display: block
        .mst-header__link_wrapper
          cursor: pointer
        .mst-header__item-arrow
          transform: rotate(90deg)
          a
            @include media(1024px)
              color: #002EA6
          span
            @include media(1024px)
              margin: 0 11px
              display: block
              width: 8px
              top: 2px
              background: url("../img/arrow-icon-blue.svg") center no-repeat
              transform: rotate(0deg)

  &__link_wrapper
    display: flex
    align-items: center
    align-self: baseline
    position: relative
    a
      width: 64px

  &__link_wrapper_active
    a
      color: #002EA6 !important

  &__item-arrow
    //margin-left: 10px
    //display: inline-block
    width: 12px
    height: 8px
    left: 3vw
    position: relative
    background: url("../img/arrow-icon.svg") center no-repeat
    cursor: pointer
    @include media(1024px)
      margin: 0 10px
      position: relative
      width: 10px
      top: 0px
      left: .6vw
      transform: rotate(90deg)
    @include media(2560px)
      left: .5vw
    @include media(3600px)
      left: .3vw

  &__nav-item
    margin: 16px 0
    display: flex
    @include media(768px)
      margin: 22px 0
    @include media(1024px)
      margin: 0 14px
    a
      color: #484953
      font-family: $f_Montserrat-Regular
      @include font(14px, 20px)
      font-weight: 600
      @include media(768px)
        @include font(18px, 28px)
      @include media(1024px)
        @include font(16px, 24px)
        font-weight: 400
        &:hover
          text-decoration: none
          color: #002EA6

  &__submenu
    display: none
    list-style: none
    @include media(1024px)
      position: absolute
      padding: 0 20px 0 0
      border-radius: 8px
      background: #ffffff
      border: 1px solid #d8d9dd
      top: 53px
    @include media(1220px)
      top: 74px
  &__submenu-item
    margin: 16px 0
    padding: 0 20px
    a
      font-weight: 200
      font-family: $f_Montserrat-Regular

  &__action
    display: none
    position: absolute
    padding: 0px 32px
    left: 0
    bottom: 0
    width: 100%
    z-index: 2
    background: #fff
    @include media(1024px)
      position: static
      height: auto
      display: flex
      padding: 0

  &__action_active
    display: block

  &__action-wrapper
    //margin: 0 0 20px 0
    padding: 20px 0
    display: flex
    justify-content: space-between
    border-top: 1px solid #D8D9DD
    @include media(1024px)
      padding: 0
      border: none
      flex-direction: row-reverse

  &__auth-user
    display: none

  &__languages
    cursor: pointer

  &__languages-icon
    display: block
    width: 24px
    height: 24px
    @include media(1024px)
      display: none

  &__desktop-lang
    display: flex
    align-items: center
    @include media(1024px)
      margin: 0 0 0 10px
    //&:hover
    //  .mst-header__languages-list
    //    display: block

  &__desktop-lang
    display: none
    @include media(1024px)
      display: flex

  &__desktop-item
    &:hover
      color: #002EA6

  &__desktop-item-icon
    margin: 0 10px
    display: block
    width: 10px
    height: 8px
    background: url(../img/arrow-icon.svg) center no-repeat
    transform: rotate(90deg)

  &__languages
    position: relative
    
  &__languages-list
    display: none
    list-style: none
    top: -160px
    right: 0px
    background: #fff
    border: 1px solid #D8D9DD
    border-radius: 8px
    padding: 15px 18px
    position: absolute
    @include media(1024px)
      top: 36px
      right: 0px
    @include media(1220px)
      top: 44px

  &__languages-item
    margin: 10px 0
    a
      color: #484953
      &:hover
        color: #002EA6
        text-decoration: none

  &__auth-user
    align-items: center
    @include media(1024px)
      margin: 0 0 0 30px

.auth-logout
  position: relative
  &:after
    @include pseudo(18px, 18px)
    top: -9px
    left: 11px
    background: url("../img/log_out.svg") center no-repeat
.hover-helper
  height: 18px
  background: transparent
  width: 100%
  top: 22px
  display: block
  position: absolute
  @include media(1220px)
    height: 30px
.auth-user
  color: #484953
  font-weight: 200
  font-family: $f_Montserrat-Regular
  &:hover
    text-decoration: none

.auth-login
  color: #002EA6
  font-weight: 600
  font-family: $f_Montserrat-Regular
  text-decoration: none
  @include media(1024px)
    margin: 0 0 0 20px
.auth-true
  display: flex

.auth-false
  display: none

.mst-header__submenu_active
  display: block

.mst-header__item-arrow_active
  background: url("../img/arrow-icon.svg") center no-repeat
  transform: rotate(90deg)

.mst-header__item-arrow_hover
  //position: relative
  //margin: 0 10px 0 0
  width: 10px
  //height: 8px
  //top: 2px
  left: 2px
  background: url("../img/arrow-icon-blue.svg") center no-repeat
  background-size: contain
  transform: rotate(0deg) !important

.mst-header__languages-list_active
  display: block

.mst-header__menu_true
  display: block

.mst-header__menu_false
  display: none

.download__block_active
  display: block

.download__block_hidden
  display: none

/* coockie

.container_coockie
  margin-left: 15%

.container_coockie_close
  display: none

.coockie
  position: fixed
  width: 70%
  height: 300px
  background: #f4f8fe
  border: 1px solid #d8d9dd
  box-sizing: border-box
  border-radius: 12px

  /*margin-left: auto;
  bottom: 20px
  padding: 48px 64px
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  z-index: 10000
  left: 50%
  transform: translate(-50%, 0)

@media (min-width: 535px)
  .coockie
    height: 235px

@media (min-width: 768px)
  .coockie
    flex-wrap: wrap
    height: 230px
    flex-direction: row

@media (min-width: 1024px)
  .coockie
    flex-wrap: wrap
    height: 180px
    flex-direction: row

@media (min-width: 1220px)
  .coockie
    width: 68%
    flex-wrap: wrap
    height: 150px
    left: 50%
    transform: translate(-50%, 0%)
    flex-direction: row

@media (min-width: 1920px)
  .coockie
    width: 45%
    flex-wrap: wrap
    height: 150px
    left: 50%
    transform: translate(-50%, 0%)

.coockie-text
  font-size: 16px
  line-height: 24px
  color: #484953
  max-width: 520px
  font-family: $f_Montserrat-Regular

.coockie-btn
  background: #002ea6
  color: #fff

  &:hover
    text-decoration: none
    color: #fff
    background-color: #0138c7

/* footer

.footer-inner-fenix3
  position: relative
  border-top: none
  @include media(1024px)
    position: relative
    .footer-nav-list
      padding: 0 10px
  &:after
    @include pseudo(100vw, 1px)
    top: 0
    left: 50%
    transform: translate(-50.5%, 0)
    background:  #D8D9DD

footer

  max-width: 1440px
  margin: auto
  padding: 48px 16px 0 16px
  @include media(1220px)
    padding: 0
    
.footer-nav
  position: relative
  @include media(1220px)
    //&:after
    //  @include pseudo(100%, 1px)
    //  background: #D8D9DD
    //  top: -48px

.footer-nav-list
  display: flex
  justify-content: space-between
  @include media(1220px)
    //padding: 0 30px
  a
    font-size: 16px
    line-height: 24px
    text-decoration: none

  li
    list-style-type: none

.footer-nav-list-item
  @include media(1220px)
    &:nth-child(1)
      position: relative
      left: -5px
    &:nth-child(2)
      position: relative
      left: -40px
    &:nth-child(3)
      position: relative
      left: -62px
    &:nth-child(4)
      position: relative
      left: -70px
    &:nth-child(5)
      position: relative
      left: -82px
    &:nth-child(6)
      position: relative
      left: -80px
.footer-nav-list-item ul li
  margin-bottom: 12px

  a
    color: #484953
    font-family: $f_Montserrat-Regular

.nav-list-item__header
  margin-bottom: 24px !important

li.nav-list-item__header a:hover
  opacity: 1
  color: #002ea6 !important

.footer-nav-list-item ul li.nav-list-item__header a
  font-weight: bold
  color: #140d3f

.footer-social-netw
  margin-top: 75px
  display: flex
  justify-content: flex-end
  padding-bottom: 37px
  border-bottom: 1px solid #d8d9dd
  align-items: center
  @include media(1220px)
    //padding: 0 24px
  p
    font-size: 16px
    line-height: 24px
    font-weight: bold
    color: #140d3f

.footer-social-netw-fenix3
  @include media(1220px)
    padding: 0

.footer-social-icons
  display: flex

.footer-social-icons a
  width: 25px
  height: 25px

.footer-social__icon
  //width: 50px
  //height: 50px

.footer-social__icon img
  height: 24px

.footer-social__icon_fb a img
  width: 32px
  height: 32px
  object-fit: contain

.footer-social__icon_inst a img
  width: 32px
  height: 32px

.feedback-copyright
  font-size: 16px
  line-height: 24px
  margin-top: 24px
  margin-bottom: 32px
  color: #484953
  display: flex
  justify-content: space-between
  font-family: $f_Montserrat-Regular
  @include media(1220px)
    //padding: 0 24px

.feedback-copyright-fenix3
  @include media(1220px)
    padding: 0
.feedback-copyright__politics span
  margin-left: 41px

  a
    color: #484953
    text-decoration: none

@media screen and (max-width: 1320px)
  .carousel-control-next .sr-only
    right: 0px
    color: #484953

  .carousel-control-prev .sr-only
    left: 0px
    color: #484953

@media screen and (max-width: 1220px)
  .container
    max-width: 1000px

  .header-menu-items
    width: 500px

  .feedback-card-item
    width: 480px

  .carousel-control-next .sr-only
    right: -15px

  .carousel-control-prev .sr-only
    left: -15px

  .carousel-item .card-body
    width: 300px

    img
      width: 300px

  .coockie
    padding: 32px 24px

  .coockie-btn
    text-align: center
    margin-top: 16px

@media screen and (max-width: 1024px)
  header
    position: fixed
    z-index: 11
    left: 0
    right: 0
    background: #fff

  .container, .mobile-menu-list, .mobile-menu-actions
    max-width: 750px

  h2
    max-width: 500px

  .header-menu-items
    display: none

  .top-info-bg
    right: -550px

  .top-info-block h1
    max-width: 500px

  .top-info__desc
    max-width: 350px

  .solution-fire-img
    min-width: 300px

    img
      max-width: 250px

      color: red

    font-size: 30px

  section.solution-fire
    align-items: center

  .feedback-card-item
    width: 360px
    min-height: 400px

  .publications .container > div:nth-child(2)
    max-width: 700px
    margin: auto

  .carousel-inner .carousel-item > div
    display: none

    &:first-child
      display: block

  .carousel-item .card-body
    /*width: 100%;

    img
  /*width: 100%;

  .carousel-inner .carousel-item > div:first-child
    width: 600px
    margin: auto
    max-width: none

  #recipeCarousel
    /* height: 550px;
    padding-bottom: 52px

  .carousel-indicators
    display: flex

    li
      opacity: 1
      width: 8px
      height: 8px
      border-radius: 50%
      background-color: #d8d9dd

    .active
      background-color: #002ea6

  .header-tools-list__item_menu
    display: block

  .header-tools-list__item_lang-select, .header-tools-list__item_login, .header-tools-list__item_profile
    display: none !important

  .header-tools
    width: 120px

@media screen and (max-width: 768px)
  .container, .mobile-menu-list, .mobile-menu-actions
    max-width: 560px

  .top-info
    position: relative
    background: none

  .top-info-bg
    position: absolute
    bottom: 0px
    right: -475px
    height: 580px
    background: #284cc4
    z-index: -96

  .top-info-bgs::after
    display: block
    content: ""
    position: absolute
    top: 580px
    left: 0
    right: 0
    bottom: 0
    background: #1840b8
    z-index: -99

  .top-info .container
    position: unset

  .top-info__title
    margin-bottom: 80%

  .top-info-bg
    right: 0
    top: 0
    left: 0px
    max-height: 60%
    width: 1000px

  section.solution-fire, .feedback-cards, .develop-cycle .container, .footer-nav-list
    flex-direction: column

  .solution-fire__title
    display: none

  .solution-fire__title_mobile
    display: block
    color: #140d3f
    margin-right: auto

  .solution-fire-info
    margin-left: 0

  .develop-cycle__title
    margin: auto
    margin-bottom: 24px

  .develop-cycle-text
    max-width: unset

  .feedback-cards
    align-items: center

  .feedback-card-item
    margin-bottom: 16px
    width: auto
    min-height: 300px

  .carousel-item .card-body
    width: 100%

    img
      width: 100%

  .carousel-inner .carousel-item > div:first-child
    width: auto
    margin: auto
    max-width: none

  .sr-only, .publications-titles__link
    display: none

  .publications-titles__link_mobile
    display: block

    i
      font-size: 25px

  .footer-social-netw
    align-items: start
    flex-direction: column

  .footer-social__icon img
    margin-left: 0
    margin-right: 24px

  .footer-social-icons
    margin-top: 20px

  .feedback-copyright
    flex-direction: column

  .feedback-copyright__politics
    display: flex
    flex-direction: column

    span
      margin-left: 0
      margin-top: 16px

  .footer-nav-list-item
    display: flex
    justify-content: space-between

    ul li
      width: 130px

@media screen and (max-width: 576px)
  .container, .mobile-menu-list, .mobile-menu-actions
    width: 100%
    padding: 0 20px

  .top-info-bg
    height: 510px
    padding-top: 100px
    width: 700px

  .top-info-bgs::after
    top: 510px

  .top-info__title
    margin-bottom: 90%

  .modal-search-container div:nth-child(1)
    flex-direction: column

  div.modal-search-buttons
    margin-top: 10px

  .modal-search-container input
    width: 100%

  .top-info .container
    padding-bottom: 48px

  section.solution-fire
    margin-top: 56px
    margin-bottom: 56px

  .solution-fire-img
    padding: 0

  .solution-fire-info h2
    margin-top: 18px

  .develop-cycle .container
    padding-top: 48px
    padding-bottom: 52px

  section.feedback
    margin-top: 56px
    margin-bottom: 56px

  .publications-titles
    padding-top: 48px

  .publications
    padding-bottom: 80px

  footer
    padding-top: 30px

  .footer-nav-list-item
    padding-bottom: 48px

    &:nth-last-child(1)
      padding-bottom: 0

  .download-container
    width: 288px
    padding: 48px 23px
    overflow: auto
    max-height: 600px

  .download-header
    font-size: 20px
    line-height: 30px

  .download-form input
    font-size: 16px
    line-height: 24px



  #download-form-input_checkbox
    font-size: 14px
    line-height: 20px

@media screen and (min-width: 425px)
  .container, .mobile-menu-list, .mobile-menu-actions
    padding: 0 20px

@media screen and (max-width: 420px)
  .container, .mobile-menu-list
    width: 100%
    padding: 0 20px

  .mobile-menu-actions
    width: 100%
    padding: 0 20px
    padding: 20px

    &:after
      content: ''
      display: block
      position: absolute
      width: 88%
      height: 1px
      top: 0
      left: 50%
      transform: translate(-50%, 0)
      background: #D8D9DD

  .top-info-bg
    display: none

  .top-info__title
    font-size: 24px
    line-height: 30px

  .top-info
    z-index: -83
    background: #284cc4

  .top-info-bgs::after
    top: 490px

  .top-info-bg-small
    display: block
    position: absolute
    z-index: -96
    padding-top: 100px
    top: 0
    left: 0
    bottom: 0
    width: 420px
    height: 564px

  .top-info__title
    margin-bottom: 332px

  .top-info-block h1
    font-size: 28px
    line-height: 33px


  .top-info__desc
    font-size: 16px
    line-height: 24px

  .btn-gr a
    font-size: 14px
    line-height: 20px

  .container_coockie
    margin-left: 5%

  .coockie
    width: 90%

  .solution-fire__title_mobile
    font-size: 24px
    line-height: 30px

  .solution-fire-img img
    width: 194.17px
    height: 214.12px

  .solution-fire-info h2
    font-size: 28px
    line-height: 33px

  .solution-fire__descriprion
    font-size: 20px
    line-height: 30px

  .solution-fire__note
    font-size: 14px
    line-height: 20px

  .develop-cycle__title
    font-size: 20px
    line-height: 30px

  .develop-cycle-text
    p, a
      font-size: 14px
      line-height: 20px

  .feedback__title
    font-size: 24px
    line-height: 30px

  .feedback-card-item__text
    font-size: 18px
    line-height: 24px

  .feedback-card-item__user
    font-size: 14px
    line-height: 20px

  .publications-titles h3
    font-size: 24px
    line-height: 30px

  .publications-text__description
    font-size: 18px
    line-height: 24px

  .postdate
    font-size: 13px
    line-height: 18px

  .footer-nav-list a
    font-size: 14px
    line-height: 20px

@media screen and (max-width: 320px)
  .container, .mobile-menu-list, .mobile-menu-actions
    width: 100%

  .top-info-bg-small
    width: 320px
    height: 454px
    padding-top: 140px

  .top-info-bgs::after
    top: 405px


.fenix3-container
  @include media(1024px)
    max-width: 1024px
    margin: 0 auto
    padding: 0 40px
  @include media(1220px)
    padding: 0
    max-width: 1220px

/** Fenix3 Main Screen **/

.main-screen
  position: relative
  padding: 85px 15px 0 15px
  width: 100%
  background: #002EA6
  @include media(1025px)
    padding: 25px 15px 0 15px

  &:after
    @include pseudo(100%, 65px)
    background: #fff
    bottom: 0
    left: 0
    z-index: 0
    @include media(425px)
      height: 100px
  @include media(1220px)
    padding: 20px 15px 0 15px

  &__wrapper
    @include media(768px)
      display: flex
      align-items: center
      justify-content: space-between

  &__nav-list
    list-style: none
    @include media(768px)
      display: flex
      margin: 0
    @include media(1024px)
      position: relative
      right: -100px


  &__sublogo
    p
      font-family: $f_Montserrat-Regular
      text-align: center
      @include font(18px, 24px)
      font-weight: 700
      color: #fff
      margin: 0 auto
      @include media(1220px)
        @include font(20px, 28px)

  &__nav-item
    margin: 16px 0
    text-align: center
    &:last-child
      margin: 16px 0 30px 0
      @include media(768px)
        margin: 10px
    @include media(768px)
      margin: 10px
    @include media(1220px)
      margin: 10px 25px
    a
      font-family: $f_Montserrat-Regular
      @include font(14px, 20px)
      color: #fff
      font-weight: 200
      @include media(1220px)
        @include font(16px, 24px)
      &:hover
        text-decoration: none
        position: relative
        color: #fff
        &:after
          @include pseudo(100%, 2px)
          background: #fff
          left: 0

  &__action
    margin: 10px 0 0 0
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    @include media(768px)
      margin: 0
      flex-direction: row
      align-items: center
      a
        margin: 0 10px

  &__content
    @include media(1024px)
      padding: 50px 0 70px 0
      display: flex
      align-items: flex-end

  &__buy
    font-family: $f_Montserrat-Regular
    @include font(14px, 20px)
    text-decoration: underline
    color: #fff
    @include media(1220px)
      @include font(16px, 24px)
    &:hover
      position: relative
      color: #fff
      text-decoration: none

  &__download
    font-family: $f_Montserrat-Regular
    padding: 10px 0
    margin: 20px auto
    width: 135px
    display: inline-block
    @include font(14px, 20px)
    color: #002EA6
    background: #fff
    text-transform: uppercase
    border-radius: 12px
    font-weight: 600
    transition: .3s ease-in-out
    @include media(768px)
      margin: 0
    &:hover
      text-decoration: none
      opacity: 0.8
      transition: .3s ease-in-out

  &__content
    @include media(768px)
      padding: 40px 0 60px 0
      display: flex
      align-items: flex-end
      justify-content: space-evenly
    @include media(1024px)
      padding: 40px 0 100px 0
    @include media(1220px)
      justify-content: space-between

  &__title
    margin: 50px 0 0 0
    @include media(768px)
      width: 45%
    @include media(1220px)
      width: 50%
    h1
      font-family: $f_Montserrat-ExtraBold

      @include font(28px, 33px)
      font-weight: 800
      color: #fff
      @include media(1220px)
        @include font(38px, 48px)

  &__subtitle
    padding: 16px 0
    @include media(768px)
      width: 45%
    @include media(1220px)
      display: flex
      justify-content: flex-end
    p
      font-family: $f_Montserrat-Regular
      @include font(14px, 20px)
      color: #ffffff
      font-weight: 400
      @include media(768px)
        max-width: 300px
        position: relative
        top: 50px

  &__img
    position: relative
    z-index: 1
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(1024px)
      max-width: 1000px
    img
      border-radius: 12px
      border: 1px solid #D8D9DD

/** Fenix3 ABOUT **/

.fenix3
  padding: 55px 16px
  @include media(1024px)
    padding: 80px 16px
  @include media(1220px)
    padding: 80px 16px 110px 16px
  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-around
      align-items: center
    @include media(1220px)
      padding: 0 105px

  &__block
    @include media(1024px)
      width: 50%

  &__title
    h2
      color: #140D3F
      font-family: $f_Montserrat-SemiBold
      @include font(24px, 30px)
      font-weight: 600
      @include media(768px)
        @include font(32px, 42px)

  &__body
    padding: 20px 0 0 0
    p
      font-family: $f_Montserrat-Regular
      @include font(18px ,24px)
      color: #484953
      &:first-child
        margin: 0 0 24px 0

  &__list-item
    margin: 0 0 20px 20px
    font-family: $f_Montserrat-Regular
    @include font(16px ,24px)
    color: #484953
    &::marker
      color: #002EA6
    p
      font-family: $f_Montserrat-Regular
      @include font(16px ,24px)
      color: #484953
  &__img
    margin: 30px 0 0 0
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(1024px)
      max-width: 300px
    @include media(1220px)
      max-width: 347px
      position: relative
      top: 40px
      right: -60px

/** Fenix3 Features **/

.fenix3__features
  padding: 48px 16px
  background: #F4F8FE
  .fenix3__wrapper
    @include media(768px)
      display: flex
      flex-wrap: wrap
      justify-content: center
      max-width: 768px
      margin: 0 auto
      padding: 24px
    @include media(1220px)
      max-width: 100%
    .features__title
      margin: 0 0 24px 0
      @include media(768px)
        margin: 16px auto 16px auto
        align-items: center
        display: flex
        max-width: 100%
        width: 100%
      @include media(1220px)
        width: 31%
      h2
        font-family: $f_Montserrat-ExtraBold
        @include font(28px, 33px)
        font-weight: 800
        color: #140D3F
        margin: 0 auto
        text-align: center
        @include media(1220px)
          position: relative
          top: -40px
          @include font(40px, 48px)
          text-align: left
          margin: 0

  .features__block
    margin: 0 0 16px 0
    padding: 24px
    background: #ffffff
    border-radius: 12px
    @include media(425px)
      max-width: 385px
      margin: 16px auto 2px auto
    @include media(768px)
      max-width: 48%
      height: 240px
    @include media(1024px)
      height: 260px
    @include media(1220px)
      margin: 13px auto
      width: 31%
      height: 268px

  .features__block-title
    p
      font-family: $f_Montserrat-ExtraBold
      @include font(18px, 24px)
      font-weight: 800
      color: #140D3F

  .features__block-text
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 20px)
      font-weight: 400
      color: #484953

  .features__icon
    margin: 0 0 20px 0
    width: 48px
    height: 48px


/** Fenix3 Modeling **/

.fenix3__modeling
  position: relative
  padding: 56px 16px 28px 16px
  background: #F4F8FE
  @include media(1024px)
    padding: 100px 16px 28px 16px
  @include media(1220px)
    padding: 100px 16px 80px 16px
    max-width: 1220px
    margin: 0 auto
  &:after
    @include pseudo(100%, 140px)
    background: #fff
    top: 0
    left: 0
    z-index: 0
    @include media(1220px)
      height: 200px
  .modelling__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
    @include media(1220px)
      padding: 20px 90px 0 90px
  .modeling__block
    @include media(1024px)
      &:first-child
        width: 38%
      &:last-child
        padding: 0 30px 0 0
        width: 49%

  .modeling__slider
    max-width: 1000px

  .modeling__slide
    width: 100%
    height: 168px
    @include media(425px)
      width: 70%
      height: 240px
      margin: 0 auto
    @include media(768px)
      height: 380px
    img
      width: 100%
      height: 168px
      object-fit: cover
      border-radius: 12px
      border: 1px solid #D8D9DD
      @include media(425px)
        height: 240px
      @include media(768px)
        height: 380px

  .modeling__pagination
    width: 100%
    top: 235px
    left: 0
    @include media(425px)
      top: 305px
    @include media(768px)
      top: 445px
    @include media(1024px)
      top: 485px
    span
      margin: 0 5px
      background: #002EA6

  .modeling__block-title
    margin: 48px 0 24px 0
    p
      color: #140D3F
      font-family: $f_Montserrat-SemiBold
      @include font(24px, 30px)
      font-weight: 700
      @include media(1024px)
        @include font(32px, 42px)

    h2
      color: #140D3F

  .modeling__block-resize
    p
      color: #140D3F
      @include media(1024px)
        font-size: 20px
        line-height: 28px

  .modeling__block-text
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      font-weight: 400
      color: #484953
      @include media(1024px)
        //max-width: 380px
        @include font(16px, 28px)

  .modeling__list-item
    margin: 0 0 20px 20px
    font-family: $f_Montserrat-Regular
    color: #484953
    @include font(16px, 24px)
    &::marker
      color: #002EA6
    @include media(1024px)
      p
        color: #484953
        @include font(16px, 24px)

  .modeling__nav-btns
    display: none
    @include media(1220px)
      display: block
      top: -180px
      position: relative
      width: 100%
      .swiper-button-next
        right: 20px
        color: #D8D9DD
      .swiper-button-prev
        left: 20px
        color: #D8D9DD

.modeling-offset
  @include media(1024px)
    margin: 50px 0 0 0
  @include media(1024px)
    margin: 76px 0 0 0


/** Fenix3 System **/

.fenix3__system
  position: relative
  padding: 56px 16px 48px 16px
  @include media(1220px)
    padding: 80px 16px 80px 16px

  &:after
    @include pseudo(100%, 420px)
    background: #F4F8FE
    bottom: 0
    left: 0
    z-index: 0
    @include media(425px)
      height: 300px
    @include media(1024px)
      display: none

  .system__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
    @include media(1220px)
      padding: 0 90px
  .system__block
    @include media(1024px)
      width: 49%
  .system__desktop-bck
    position: relative
    @include media(1200px)
      top: -50px
    &:after
      display: none
    @include media(999px)
      &:after
        @include pseudo(500px, 400px)
        bottom: 0px
        left: -20px
        background: #F4F8FE
    @include media(1220px)
      &:after
        @include pseudo(624px, 300px)
        bottom: 20px
        left: -36px
        background: #F4F8FE
  .system__title
    margin: 0 0 24px 0
    h2
      color: #140D3F
      font-family: $f_Montserrat-SemiBold
      @include font(24px, 30px)
      font-weight: 700
      @include media(1024px)
        @include font(32px, 42px)

  .system__text
    position: relative
    z-index: 1
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 25px)
      font-weight: 400
      color: #484953
      @include media(1024px)
        max-width: 380px
        @include font(18px, 28px)

  .system__normal-text
    @include media(1024px)
      p
        font-family: $f_Montserrat-Regular
        max-width: 100%
      a
        color: #002EA6
    @include media(1220px)
      padding: 0 0 50px 0

  .system__block-img
    position: relative
    z-index: 1
    margin: 32px 0 24px 0
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(768px)
      margin: 30px auto
    @include media(1024px)
      margin: 100px auto 30px auto
    @include media(1220px)
      position: relative
      left: 20px
    img
      border-radius: 12px
      border: 1px solid #D8D9DD


/** Fenix3 Analysis **/

.fenix3__analysis
  margin: 50px 0 0 0
  padding: 56px 16px
  background: #F4F8FE
  @include media(1220px)
    position: relative
    padding: 80px 16px
    max-width: 1220px
    margin: 0 auto
    &:after
      @include pseudo(90px, 100%)
      background: #fff
      top: 0
      left: 0
  .analysis__wrapper
    @include media(1024px)
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      align-items: center

  .analysis__block
    @include media(1024px)
      width: 50%
    @include media(1220px)
      &:first-child
        max-width: 0 0 0 84px

  .analysis__title
    margin: 0 0 24px 0
    h2
      font-family: $f_Montserrat-SemiBold
      @include font(24px, 30px)
      color: #140D3F
      font-weight: 700
      @include media(1024px)
        @include font(32px, 42px)
      @include media(1220px)
        max-width: 320px

  .analysis__text
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      color: #484953
      font-weight: 400
      @include media(1024px)
        max-width: 420px
        @include font(18px, 28px)

  .analysis__list-item
    margin: 0 0 20px 20px
    max-width: 420px
    font-size: 1.125rem
    line-height: 1.75rem
    font-family: $f_Montserrat-Regular
    color: #484953
    &::marker
      color: #002EA6

  .analysis__img
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(768px)
      margin: 30px auto 0 auto
    @include media(1024px)
      max-width: 500px
      margin: 0 44px 0 0
    @include media(1220px)
      max-width: 800px
      margin: 0 20px 0 0
      position: relative
      left: -30px
      z-index: 1
    @include media(1440px)
      max-width: 800px
      margin: 0 20px 0 0
      position: relative
      left: -70px
      z-index: 1
    img
      border-radius: 12px
      border: 1px solid #D8D9DD

/** Fenix3 Mechanism **/

.fenix3__mechanism
  padding: 56px 16px


  .mechanism__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
      align-items: center
    @include media(1220px)
      padding: 0 0 0 90px
      align-items: flex-start

  .mechanism__block
    @include media(1024px)
      width: 50%

  .mechanism__block-title
    margin: 0 0 24px 0
    h2
      font-family: $f_Montserrat-SemiBold
      @include font(24px, 30px)
      color: #140D3F
      font-weight: 700
      @include media(1024px)
        max-width: 380px
        @include font(32px, 42px)
      @include media(1220px)
        margin: 20px 0 0 0
  .mechanism__text
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      color: #484953
      font-weight: 400
      @include media(1024px)
        max-width: 400px
        @include font(18px, 28px)
      @include media(1220px)
        max-width: 445px

  .mechanism__img
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(768px)
      margin: 30px auto 0 auto
    @include media(1024px)
      max-width: 800px
      margin: 30px auto 0 auto
      position: relative
      //right: -40px
    @include media(1220px)
      top: 0px
      right: 40px
    img
      border-radius: 12px
      //border: 1px solid #D8D9DD
      @include media(1220px)
        width: 600px

/** Fenix3 Project **/

.fenix3__project
  padding: 0px 16px 55px 16px
  @include media(1024px)
    padding: 40px 16px
  @include media(1220px)
    padding: 0 16px 80px 16px
  .project__wrapper
    @include media(1024px)
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      align-items: center
    @include media(1220px)
      align-items: flex-end
  .project__block
    @include media(1024px)
      width: 47%
    @include media(1220px)
      margin: 160px 0 0 0

  .project__block-offset
    @include media(1024px)
      padding: 0 0 0 80px
    @include media(1220px)
      position: relative
      top: -80px

  .project__title
    h2
      font-family: $f_Montserrat-SemiBold
      @include font(24px, 30px)
      color: #140D3F
      font-weight: 700
      @include media(1024px)
        margin: 0 0 24px 0
        max-width: 380px
        @include font(32px, 42px)
      @include media(1220px)
        margin: 0 0 66px 0

  .project__text
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      color: #484953
      font-weight: 400
      @include media(1024px)
        max-width: 400px
        @include font(18px, 28px)

  .project__img
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(1024px)
      max-width: 600px
      margin: 30px auto 0 auto
    @include media(1220px)
      position: relative
      left: -10px
    @include media(1440px)
      position: relative
      left: -10px
    img
      border-radius: 12px
      //border: 1px solid #D8D9DD

/** Fenix3 Cta **/

.fenix3__cta
  padding: 48px 16px 80px 16px
  background: #002EA6
  @include media(1024px)
    padding: 40px 16px
  @include media(1220px)
    padding: 80px 16px
  .cta__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between

  .cta__block
    @include media(1024px)
      width: 48%

  .cta__title
    margin: 0 0 24px 0
    p
      font-family: $f_Montserrat-SemiBold
      @include font(26px, 30px)
      font-weight: 600
      color: #fff
      @include media(1024px)
        max-width: 400px
        @include font(32px, 42px)
      @include media(1220px)
        position: relative
        left: -6px

  .cta__text
    @include media(1220px)
      margin: 0 0 60px 0
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      color: #484953
      font-weight: 400
      color: #fff
      @include media(1024px)
        max-width: 400px
        font-weight: 200
        @include font(18px, 28px)

  .cta__btns
    margin: 40px 0 0 0

  .cta__download
    padding: 10px 26px
    color: #002EA6
    background: #fff
    border-radius: 12px
    text-transform: uppercase
    font-weight: 600
    font-family: $f_Montserrat-Regular
    text-decoration: none
    transition: .3s ease-in-out
    &:hover
      opacity: 0.8
      transition: .3s ease-in-out
    @include media(1220px)
      padding: 10px 34px

  .cta__buy
    margin: 0 0 0 0
    position: relative
    padding: 10px 18px
    color: #fff
    font-family: $f_Montserrat-Regular
    @include media(1220px)
      margin: 0 0 0 12px
      position: relative
      padding: 10px 34px

/** MODAL SEARCH **/

.modalSearch
  position: fixed
  top: 24%
  left: 50%
  transform: translate(-50%, -50%) scale(0)
  opacity: 0
  transition: 200ms ease-in-out
  border-radius: 10px
  background-color: #fff
  width: 300px
  max-width: 900px
  z-index: 1000000000000
  @include media(768px)
    width: 90%
  @include media(1024px)
    top: 16%
  @include media(1220px)
    top: 20%
  @include media(1440px)
    top: 12%
  &.active
    transform: translate(-50%, -50%) scale(1)
    opacity: 1

.modalSearch__input
  margin: 50px 0 0 0
  width: 100%
  border: none
  border-bottom: 1px solid #002EA6
  border-radius: 0 !important
  outline: none
  @include font(18px, 28px)
  font-weight: 400
  @include media(768px)
    width: 75%
    margin: 0 20px 0 20px

.modalSearch-body__submit
    padding: 10px 0
    margin: 20px auto
    width: 135px
    display: inline-block
    font-size: 0.875rem
    line-height: 1.25rem
    color: #fff
    background: #002EA6
    text-transform: uppercase
    border-radius: 12px
    font-weight: 600
    border: none
    outline: none
    @include media(768px)
      padding: 5px 0
      height: 40px

.modalSearch__form
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  @include media(768px)
    flex-direction: row
    align-items: center

.close-button
  position: absolute
  right: 10px
  width: 15px
  height: 15px
  background: url(../img/close-icon.svg) center no-repeat
  border: none
  outline: unset
  font-size: 2em
  cursor: pointer
  @include media(768px)
    position: static
    margin: 0 14px 0 10px

.modalSearch-body
  padding: 10px
  text-align: justify
  display: flex
  @include media(768px)
    align-items: center
    padding: 0 10px

#overlaySearch
  background-color: rgba(0, 0, 0, 0.4)
  opacity: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  transition: 200ms ease-in-out
  z-index: 10000000
  &.active
    opacity: 1
    pointer-events: all

span[data-modal-target="#modalSearch"]
  cursor: pointer
  outline: none

  &:active
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2), inset -1px -1px 10px rgba(255, 255, 255, 0.4)
    border: 1px solid #fff


/*** Search Results Page ***/

.fenix3-results-header
  padding: 80px 16px 40px 16px
  background: #002EA6
  @include media(910px)
    padding: 60px 16px 40px 16px

.fenix3-results__breadcrumbs
  a
    @include font(16px, 24px)
    color: #fff

.fenix3-results__header-wrapper
  @include media(910px)
    padding: 30px 0 0 0
    display: flex
    align-items: center
    justify-content: space-between

.fenix3-results__title
  padding: 20px 0
  h1
    @include font(40px, 48px)
    color: #ffffff
    font-family: $f_Montserrat-ExtraBold
    font-weight: 400

.fenix3-results__form
  position: relative
  max-width: 320px
  @include media(910px)
    max-width: 384px

.search-from__input
  width: 100%
  border: none
  border-bottom: 1px solid #fff
  background: none
  color: #ffffff
  font-family: $f_Montserrat-Regular
  &:focus
    outline: none
  @include media(910px)
    width: 384px

.search-from__btn
  width: 12px
  height: 12px
  background: url("../img/search-inv.svg") center no-repeat
  border: none
  outline: none
  position: absolute
  right: 2px

.fenix3-search__header
  padding: 40px 16px 30px 16px
  @include media(910px)
    padding: 40px 0 30px 0
  @include media(1220px)
    margin: 0 0 20px 0
  h2
    color: #140D3F
    @include font(28px, 40px)
    font-family: $f_Montserrat-ExtraBold

.fenix3-results__wrapper
  padding: 0 16px
  @include media(910px)
    padding: 0

.fenix3-results__block
  margin: 0 0 40px 0
  &:last-child
    margin: 0 0 120px 0

.fenix3-results__block-title
  h3
    color: #140D3F
    margin: 0 0 14px 0
    @include font(20px, 28px)
    font-family: $f_Montserrat-ExtraBold
    max-width: 800px

.fenix3-results__block-content
  max-width: 800px

  p
    font-family: $f_Montserrat-Regular
    @include font(16px, 24px)
    padding: 0
    margin: 0 0 8px 0
    color: #484953
  a
    font-family: $f_Montserrat-Regular
    word-break: break-all
    color: #002EA6
    @include font(14px, 24px)


.fenix3-results__breadcrumbs
  display: flex
  align-items: center
  font-family: $f_Montserrat-Regular

.breadcrumbs-arrow
  display: block
  margin: 0 10px 0 0
  width: 12px
  height: 12px
  background: url(../img/arrow-inv-icon.svg) center no-repeat


/*** Main Page Styles ***/

/* top-info

.top-info
  background: #3a5bc7
  background: linear-gradient(90deg, #3a5bc7 0%, #3a5bc7 100%)
  color: #fff
  overflow: hidden

  .container
    height: 100%
    position: relative
    padding-top: 100px
    padding-bottom: 110px

.top-info-bg
  position: absolute
  bottom: 0px
  right: -475px
  height: 580px

.top-info-bg-small
  display: none

.top-info__title
  font-size: 32px
  line-height: 42px
  font-weight: 600
  letter-spacing: -0.015em
  font-family: $f_Montserrat-Regular

.top-info-block h1
  margin-top: 32px
  margin-bottom: 24px
  font-weight: 800
  font-size: 40px
  line-height: 48px
  letter-spacing: -0.015em
  color: #ffffff
  max-width: 680px
  font-family: $f_Montserrat-ExtraBold
  @include media(1024px)
    margin-top: 32px
    margin-bottom: 64px

.top-info__desc
  font-size: 18px
  line-height: 28px
  margin-bottom: 50px
  max-width: 550px
  font-family: $f_Montserrat-Regular
  @include media(1024px)
    margin-bottom: 60px



.top-info-buttons a
  color: #fff
  font-family: $f_Montserrat-Regular
a.top-info-btn
  color: #002ea6
  background: #fff
  transition: 0.5s ease all
  margin: 0 20px 0 0
  @include media(1024px)
    margin: 0 50px 0 0

.top-info-btn:hover
  opacity: 0.8
  text-decoration: none

/* solution-fire

section.solution-fire
  display: flex
  margin-top: 100px
  margin-bottom: 105px

.solution-fire-img
  min-width: 490px
  text-align: center
  padding: 40px 0px

  img
    max-width: 330px
    margin: auto

.solution-fire-info
  margin-left: 32px

.solution-fire__title
  font-weight: 600
  font-size: 32px
  line-height: 42px
  letter-spacing: -0.015em
  color: #484953
  margin-bottom: 32px
  font-family: $f_Montserrat-Regular

.solution-fire__title_mobile
  display: none

.solution-fire-info h2
  color: #140d3f
  font-family: $f_Montserrat-ExtraBold
  margin-bottom: 24px
  @include media(1024px)
    margin-bottom: 72px

.solution-fire__descriprion
  font-size: 18px
  line-height: 28px
  color: #484953
  max-width: 550px
  margin-bottom: 60px
  font-family: $f_Montserrat-Regular

.solution-fire-buttons
  font-family: $f_Montserrat-Regular
  a
    color: #484953

  height: 50px

button.solution-fire-btn
  background: #002ea6
  transition: 0.5s ease all
  color: #ffffff
  padding: 12px 36px
  border-radius: 12px
  border: none
  margin: 0 20px 0 0
  text-transform: uppercase
  @include media(768px)
    padding: 12px 40px

  &:hover
    background: #0138c7

.solution-fire__note
  margin-top: 16px
  font-size: 14px
  line-height: 20px
  color: #484953

/* develop-cycle

.develop-cycle
  //background: #f4f8fe
  .container
    position: relative
    background: #f4f8fe
    @include media(1220px)
      &:after
        @include pseudo(110px, 100%)
        background: #f4f8fe
        top: 0
        left: -110px
      &:before
        @include pseudo(110px, 100%)
        background: #f4f8fe
        top: 0
        right: -110px

  /*max-width: 1440px;
  margin: auto

  .container
    display: flex
    padding-top: 80px
    padding-bottom: 120px

.develop-cycle__title
  font-weight: bold
  font-size: 28px
  line-height: 40px
  letter-spacing: -0.015em
  color: #484953
  max-width: 600px
  margin-right: 127px
  font-family: $f_Montserrat-ExtraBold

.develop-cycle-text
  max-width: 300px
  font-family: $f_Montserrat-Regular
  @include media(1024px)
    p
     margin: 10px 0 0 0
    a
      margin: 30px 0 0 0
      display: block
  p
    font-size: 16px
    line-height: 24px
    color: #484953
    margin-bottom: 16px

  a
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #002ea6
    text-decoration: none

    &:hover
      opacity: 1
      color: #140d3f

/* feedback

section.feedback
  margin: 100px 0px

.feedback__title
  font-weight: 600
  font-size: 32px
  line-height: 42px
  letter-spacing: -0.015em
  color: #140d3f
  font-family: $f_Montserrat-SemiBold

.feedback-cards
  margin-top: 48px
  display: flex
  justify-content: space-between

.feedback-card-item
  width: 590px
  border: 1px solid #d8d9dd
  padding: 54px 41px 100px 60px
  border-radius: 12px
  position: relative
  min-height: 320px

@media screen and (min-width: 768px)
  .feedback-card-item
    margin: 10px

.feedback-card-item__icon
  font-weight: 800
  font-size: 40px
  line-height: 48px
  letter-spacing: -0.015em
  color: #002ea6
  left: -30px
  top: -18px
  position: absolute
  background: url("../img/quate-icon.svg") center no-repeat
  width: 22px
  height: 20px


.feedback-card-item__text
  font-weight: bold
  font-size: 20px
  line-height: 28px
  color: #484953
  position: relative
  font-family: $f_Montserrat-SemiBold

.feedback-card-item__user
  position: absolute
  bottom: 48px
  right: 40px
  font-size: 16px
  line-height: 24px
  color: #484953
  font-family: $f_Montserrat-Regular
  span
    font-weight: bold

/* publications

.publications
  //padding-bottom: 140px
  .container
    position: relative
    background: #f4f8fe
    padding: 0 0 80px 0
    @include media(1220px)
      padding: 0 0 140px 0
      &:after
        @include pseudo(110px, 100%)
        background: #f4f8fe
        top: 0
        left: -110px
      &:before
        @include pseudo(110px, 100%)
        background: #f4f8fe
        top: 0
        right: -110px
  /*max-width: 1440px;
  margin: auto

.publications-titles h3
  font-family: $f_Montserrat-SemiBold

.publications-titles a
  font-family: $f_Montserrat-Regular

.main-page__img-block
  border-left: 1px solid #D8D9DD
  border-right: 1px solid #D8D9DD
  border-top: 1px solid #D8D9DD
  border-radius: 12px 12px 0 0

.main-page__slider-pagination
  bottom: -40px
  width: 100%

  span
    margin: 0 5px

@media (min-width: 1024px)
  .main-page__slider-pagination
    display: none

.swiper-pagination-bullet-active
  background: #002EA6 !important

.main-page__slide-link:hover
  text-decoration: none

.main-page__nav
  display: none

@media (min-width: 1024px)
  .main-page__nav
    display: block

  .main-page__nav-next
    right: -50px
    color: #D8D9DD

  .main-page__nav-prev
    left: -50px
    color: #D8D9DD

.publications-text
  display: flex
  flex-direction: column
  padding: 15px 20px 30px 20px
  height: 180px
  background: #fff
  border: 1px solid #D8D9DD
  border-radius: 0 0 12px 12px

.main-slider
  position: relative

.img-fluid
  border-radius: 12px 12px 0 0

.publications-text__description
  font-weight: bold
  font-size: 19px
  line-height: 28px
  color: #140d3f
  font-family: $f_Montserrat-ExtraBold

.publications-titles
  font-weight: 600
  line-height: 42px
  letter-spacing: -0.015em
  color: #140d3f
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 48px
  padding-top: 80px

  h3
    font-size: 32px
    font-weight: 600

  a
    font-size: 16px
    color: #140d3f
    text-decoration: none

    &:hover
      color: #002ea6
      opacity: 1

.publications-titles__link_mobile
  display: none

.postdate
  font-weight: 600
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.04em
  text-transform: uppercase
  color: #3e6be0
  margin-bottom: 16px
  font-family: $f_Montserrat-Regular

/** Download Modal **/

/* modal-download

.modal-download
  background: rgba(0, 0, 0, 0.5)
  position: absolute
  left: 0
  top: 0
  z-index: 200
  display: none
  justify-content: center
  width: 100%
  height: 100%

.modal-download_active
  display: flex

.download-container
  width: 512px
  display: flex
  background: #fff
  padding: 80px 64px
  border-radius: 6px
  flex-direction: column
  position: fixed
  margin-top: 3vh

.download-header
  font-weight: bold
  font-size: 28px
  line-height: 40px
  letter-spacing: -0.015em
  color: #140d3f
  margin-bottom: 20px

.download-header__success
  font-family: $f_Montserrat-ExtraBold

.download-form
  display: flex
  flex-direction: column
  input
    //-webkit-appearance: none
    border-radius: 0
    padding: 0
  div
    display: flex
    flex-direction: column
    margin-top: 16px

    &.download-form-input_checkbox-container
      display: flex
      flex-direction: row
      margin-top: 12px
      margin-bottom: 10px
      @include media(577px)
        display: flex
        flex-direction: row
        margin-top: 32px
        margin-bottom: 48px

#download-form-input_checkbox
  margin-top: 8px
  width: 40px
  margin-right: 12px
  color: #484953

.download-form
  input
    border: none
    border-bottom: 1px solid #d8d9dd
    font-size: 18px
    line-height: 28px
    color: #484953
    outline: none
    &:focus
      border-bottom: 1px solid #002ea6

  label
    font-size: 14px
    line-height: 20px
    color: #484953

.download-form-input_checkbox-container label
  font-size: 14px
  line-height: 19px
  opacity: 1
  color: #484953
  font-family: $f_Montserrat-Regular
  @include media(577px)
    font-size: 16px
    line-height: 24px
    opacity: 1
    color: #484953

.download-form button
  background: #002ea6
  border-radius: 12px
  margin: 20px 0 0 0
  padding: 12px 0px
  font-size: 16px
  line-height: 24px
  font-weight: 600
  text-align: center
  color: #ffffff
  text-transform: uppercase
  border: none
  outline: none
  @include media(577px)
    margin: 0

.download-close_button
  position: absolute
  right: 5px
  top: 5px
  background: none
  border: none
  &:focus
    outline: none

  i
    font-size: 30px
    color: #484953

.download__block-success
  .download__block-success
    margin: 20px 0 0 0
    h5
      font-family: $f_Montserrat-SemiBold
      @include font(26px, 32px)
  .download-img
    @include media(577px)
      margin: 0 0 40px 0
      img
        width: 85%
        margin: 0 auto
        display: block

  .download-action
    margin: 20px 0 0 0
    @include media(577px)
      margin: 40px 0 0 0
    button
      padding: 10px 0
      width: 100%
      border: none
      border-radius: 12px
      background: #002EA6
      color: #fff

.download-img__success
  margin: 10px 0 30px 0
  img
    width: 50%
    display: block
    margin: 0 auto

/* coockie

.container_coockie
  margin-left: 15%

.coockie
  position: fixed
  width: 70%
  height: 300px
  background: #f4f8fe
  border: 1px solid #d8d9dd
  box-sizing: border-box
  border-radius: 12px

  /*margin-left: auto;
  bottom: 20px
  padding: 48px 64px
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  z-index: 10000
  left: 50%
  transform: translate(-50%, 0)

@media (min-width: 535px)
  .coockie
    height: 235px

@media (min-width: 768px)
  .coockie
    flex-wrap: wrap
    height: 230px
    flex-direction: row

@media (min-width: 1024px)
  .coockie
    flex-wrap: wrap
    height: 180px
    flex-direction: row

@media (min-width: 1220px)
  .coockie
    width: 68%
    flex-wrap: wrap
    height: 150px
    left: 50%
    transform: translate(-50%, 0%)
    flex-direction: row

@media (min-width: 1920px)
  .coockie
    width: 45%
    flex-wrap: wrap
    height: 150px
    left: 50%
    transform: translate(-50%, 0%)

.coockie-text
  font-size: 16px
  line-height: 24px
  color: #484953
  max-width: 520px

.coockie-btn
  background: #002ea6
  color: #fff

  &:hover
    text-decoration: none
    color: #fff
    background-color: #0138c7

/* footer

footer
  padding-top: 48px
  border-top: 1px solid #d8d9dd
  max-width: 1440px
  margin: auto

.footer-nav-list
  display: flex
  justify-content: space-between
  @include media(1024px)
    //padding: 0 26px

  a
    font-size: 16px
    line-height: 24px
    text-decoration: none

  li
    list-style-type: none

.footer-nav-list-item ul li
  margin-bottom: 12px

  a
    color: #484953

.nav-list-item__header
  margin-bottom: 24px !important

li.nav-list-item__header a:hover
  opacity: 1
  color: #002ea6 !important

.footer-nav-list-item ul li.nav-list-item__header a
  font-weight: bold
  color: #140d3f
  font-family: $f_Montserrat-ExtraBold

.footer-social-netw
  margin-top: 75px
  display: flex
  justify-content: flex-end
  padding-bottom: 37px
  border-bottom: 1px solid #d8d9dd
  align-items: center


  p
    font-size: 16px
    line-height: 24px
    font-weight: bold
    color: #140d3f

.footer-social-icons
  display: flex

.footer-social__icon img
  margin-left: 25px
  height: 24px

.footer-social__icon_inst img
  height: 32px

.feedback-copyright
  font-size: 16px
  line-height: 24px
  margin-top: 24px
  margin-bottom: 32px
  color: #484953
  display: flex
  justify-content: space-between

.feedback-copyright__politics span
  margin-left: 41px

  a
    color: #484953
    text-decoration: none

@media screen and (max-width: 1320px)
  .carousel-control-next .sr-only
    right: 0px
    color: #484953

  .carousel-control-prev .sr-only
    left: 0px
    color: #484953

@media screen and (max-width: 1220px)
  .container
    max-width: 1000px

  .header-menu-items
    width: 500px

  .feedback-card-item
    width: 480px

  .carousel-control-next .sr-only
    right: -15px

  .carousel-control-prev .sr-only
    left: -15px

  .carousel-item .card-body
    width: 300px

    img
      width: 300px

  .coockie
    padding: 32px 24px

  .coockie-btn
    text-align: center
    margin-top: 16px

@media screen and (max-width: 1024px)
  header
    position: fixed
    z-index: 11
    left: 0
    right: 0
    background: #fff

  .container, .mobile-menu-list, .mobile-menu-actions
    max-width: 750px

  h2
    max-width: 500px

  .header-menu-items
    display: none

  .top-info-bg
    right: -550px

  .top-info-block h1
    max-width: 500px

  .top-info__desc
    max-width: 350px

  .solution-fire-img
    min-width: 300px

    img
      max-width: 250px

  .solution-fire-info h2
    font-size: 30px

  section.solution-fire
    align-items: center

  .feedback-card-item
    width: 360px
    min-height: 400px

  .publications .container > div:nth-child(2)
    max-width: 700px
    margin: auto

  .carousel-inner .carousel-item > div
    display: none

    &:first-child
      display: block

  .carousel-item .card-body
    /*width: 100%;

    img
  /*width: 100%;

  .carousel-inner .carousel-item > div:first-child
    width: 600px
    margin: auto
    max-width: none

  #recipeCarousel
    /* height: 550px;
    padding-bottom: 52px

  .carousel-indicators
    display: flex

    li
      opacity: 1
      width: 8px
      height: 8px
      border-radius: 50%
      background-color: #d8d9dd

    .active
      background-color: #002ea6

  .header-tools-list__item_menu
    display: block

  .header-tools-list__item_lang-select, .header-tools-list__item_login, .header-tools-list__item_profile
    display: none !important

  .header-tools
    width: 120px

@media screen and (max-width: 768px)
  .container, .mobile-menu-list, .mobile-menu-actions
    max-width: 560px

  .top-info
    position: relative
    background: none

  .top-info-bg
    position: absolute
    bottom: 0px
    right: -475px
    height: 580px
    background: #284cc4
    z-index: -96

  .top-info-bgs::after
    display: block
    content: ""
    position: absolute
    top: 580px
    left: 0
    right: 0
    bottom: 0
    background: #1840b8
    z-index: -99

  .top-info .container
    position: unset

  .top-info__title
    margin-bottom: 80%

  .top-info-bg
    right: 0
    top: 0
    left: 0px
    max-height: 60%
    width: 1000px

  section.solution-fire, .feedback-cards, .develop-cycle .container, .footer-nav-list
    flex-direction: column

  .solution-fire__title
    display: none

  .solution-fire__title_mobile
    display: block
    color: #140d3f
    margin-right: auto

  .solution-fire-info
    margin-left: 0

  .develop-cycle__title
    margin: auto
    margin-bottom: 24px

  .develop-cycle-text
    max-width: unset

  .feedback-cards
    align-items: center

  .feedback-card-item
    margin-bottom: 16px
    width: auto
    min-height: 300px

  .carousel-item .card-body
    width: 100%

    img
      width: 100%

  .carousel-inner .carousel-item > div:first-child
    width: auto
    margin: auto
    max-width: none

  .sr-only, .publications-titles__link
    display: none

  .publications-titles__link_mobile
    display: block

    i
      font-size: 25px

  .footer-social-netw
    align-items: start
    flex-direction: column
    p
      margin: 0 !important

  .footer-social__icon img
    margin-left: 0
    margin-right: 24px

  .footer-social-icons
    margin-top: 20px

  .feedback-copyright
    flex-direction: column

  .feedback-copyright__politics
    display: flex
    flex-direction: column

    span
      margin-left: 0
      margin-top: 16px

  .footer-nav-list-item
    display: flex
    justify-content: space-between

    ul li
      width: 130px

@media screen and (max-width: 576px)
  .container, .mobile-menu-list, .mobile-menu-actions
    width: 100%
    padding: 0 20px

  .top-info-bg
    height: 510px
    padding-top: 100px
    width: 700px

  .top-info-bgs::after
    top: 510px

  .top-info__title
    margin-bottom: 90%

  .modal-search-container div:nth-child(1)
    flex-direction: column

  div.modal-search-buttons
    margin-top: 10px

  .modal-search-container input
    width: 100%

  .top-info .container
    padding-bottom: 48px

  section.solution-fire
    margin-top: 56px
    margin-bottom: 56px

  .solution-fire-img
    padding: 0

  .solution-fire-info h2
    margin-top: 18px

  .develop-cycle .container
    padding-top: 48px
    padding-bottom: 52px

  section.feedback
    margin-top: 56px
    margin-bottom: 56px

  .publications-titles
    padding-top: 48px

  .publications
    padding-bottom: 80px

  footer
    padding-top: 30px

  .footer-nav-list-item
    padding-bottom: 48px

    &:nth-last-child(1)
      padding-bottom: 0

  .download-container
    width: 288px
    padding: 28px 23px 30px 23px
    overflow: auto
    max-height: 600px
    @include media(577px)
      width: 288px
      padding: 48px 23px
      overflow: auto
      max-height: 600px

  .download-header
    font-size: 20px
    line-height: 24px

  #download-form-input_checkbox
    width: 50px
    font-size: 14px
    line-height: 20px
    
.download-form-input_checkbox-container
  position: relative

.download-form div.error
  > input
    border-bottom: 1px solid #f00
  > input::placeholder
    color: #f00
  color: #f00


.download-form div.success
  > input
    border-bottom: 1px solid #d8d9dd
  > input::placeholder
    color: #484953
  >small
    display: none

  color: #484953

.checkbox__wrapper
  flex-direction: row !important
  display: flex

.checkbox-warning
  position: absolute
  bottom: -20px
  
@media screen and (min-width: 425px)
  .container, .mobile-menu-list, .mobile-menu-actions
    padding: 0 20px

@media screen and (max-width: 420px)
  .container, .mobile-menu-list
    width: 100%
    padding: 0 20px

  .mobile-menu-actions
    width: 100%
    padding: 0 20px
    padding: 20px

    &:after
      content: ''
      display: block
      position: absolute
      width: 88%
      height: 1px
      top: 0
      left: 50%
      transform: translate(-50%, 0)
      background: #D8D9DD

  .top-info-bg
    display: none

  .top-info__title
    font-size: 24px
    line-height: 30px

  .top-info
    //z-index: -83
    z-index: 1
    background: #284cc4

  .top-info-bgs::after
    top: 490px

  .top-info-bg-small
    display: block
    position: absolute
    z-index: -96
    padding-top: 100px
    top: 0
    left: 0
    bottom: 0
    width: 420px
    height: 564px

  .top-info__title
    margin-bottom: 332px

  .top-info-block h1
    font-size: 28px
    line-height: 33px

  .top-info__desc
    font-size: 16px
    line-height: 24px

  .btn-gr a
    font-size: 14px
    line-height: 20px

  .container_coockie
    margin-left: 5%

  .coockie
    width: 90%

  .solution-fire__title_mobile
    font-size: 24px
    line-height: 30px

  .solution-fire-img img
    width: 194.17px
    height: 214.12px

  .solution-fire-info h2
    font-size: 28px
    line-height: 33px

  .solution-fire__descriprion
    font-size: 20px
    line-height: 30px

  .solution-fire__note
    font-size: 14px
    line-height: 20px

  .develop-cycle__title
    font-size: 20px
    line-height: 30px

  .develop-cycle-text
    p, a
      font-size: 14px
      line-height: 20px

  .feedback__title
    font-size: 24px
    line-height: 30px

  .feedback-card-item__text
    font-size: 18px
    line-height: 24px

  .feedback-card-item__user
    font-size: 14px
    line-height: 20px

  .publications-text__description
    font-size: 18px
    line-height: 24px

  .postdate
    font-size: 13px
    line-height: 18px

  .footer-nav-list a
    font-size: 14px
    line-height: 20px

@media screen and (max-width: 320px)
  .container, .mobile-menu-list, .mobile-menu-actions
    width: 100%

  .top-info-bg-small
    width: 320px
    height: 454px
    padding-top: 140px

  .top-info-bgs::after
    top: 405px

@media (min-width: 1024px)
  .profile__active
    display: block !important

  .profile__hidden
    display: none !important

.profile__active_mobile
  display: block !important

.profile__hidden_mobile
  display: none !important

.social-netw-title
  margin: 0 0 0 0
  font-family: $f_Montserrat-ExtraBold

.top-info-offset .container
  @include media(1220px)
    padding-right: 0 !important
    padding-left: 0 !important
//
//*
//  outline: 1px solid red

.top-info-offset
  @include media(1920px)
    background: rgb(58,91,199)
    background: linear-gradient(148deg, rgba(58,91,199,1) 64%, rgba(24,64,184,1) 64%)
  @include media(2200px)
    background: rgb(58,91,199)
    background: linear-gradient(148deg, rgba(58,91,199,1) 62%, rgba(24,64,184,1) 62%)
  @include media(3800px)
    background: rgb(58,91,199)
    background: linear-gradient(148deg, rgba(58,91,199,1) 55%, rgba(24,64,184,1) 55%)
  //@include media(2000px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(132deg, rgba(58,91,199,1) 75%, rgba(24,64,184,1) 78%)
  //@include media(2140px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(145deg, rgba(58,91,199,1) 68%, rgba(24,64,184,1) 68%)
  //@include media(2350px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(145deg, rgba(58,91,199,1)68%, rgba(24,64,184,1) 68%)
  //@include media(2550px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(145deg, rgba(58,91,199,1)50%, rgba(24,64,184,1)  68%)
  //@include media(2700px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(115deg, rgba(58,91,199,1) 75%, rgba(24,64,184,1) 74%)
  //@include media(3000px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(130deg, rgba(58,91,199,1) 72%, rgba(24,64,184,1) 76%)
  //@include media(3315px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(150deg, rgba(58,91,199,1) 60%, rgba(24,64,184,1) 60%)
  //@include media(4500px)
  //  background: rgb(58,91,199)
  //  background: linear-gradient(150deg, rgba(58,91,199,1) 54%, rgba(24,64,184,1) 5%)
/*** Fenix3 Whats New Page  ***/

.fenix3-new__main-screen
  background: #F7F7F7
  @include media(1024px)
    top: 0px
    position: sticky
    z-index: 1

//.fenix3-new__sublogo
//  h2
//    @include font(18px, 24px)
//    font-family: $f_Montserrat-ExtraBold
//
//.fenix3-new__nav-item
//  text-align: center


.fenix3-new__wrapper
  padding: 90px 0 20px 0
  @include media(768px)
    padding: 90px 16px 20px 16px
    display: flex
    align-items: center
    justify-content: space-between
  @include media(1025px)
    padding: 15px 0
.fenix3-new__nav-list
  list-style: none
  @include media(768px)
    display: flex
    margin: 0
  @include media(1024px)
    position: relative
    right: -100px

.fenix3-new__sublogo
  p
    text-align: center
    font-family: $f_Montserrat-ExtraBold
    color: #140D3F
    @include font(18px, 24px)
    font-weight: 700
    margin: 0 auto
    @include media(1220px)
      @include font(20px, 28px)

.fenix3-new__nav-item
  margin: 16px 0
  text-align: center
  &:last-child
    margin: 16px 0 24px 0
    @include media(768px)
      margin: 10px
  @include media(768px)
    margin: 10px
  @include media(1220px)
    margin: 10px 25px
  a
    font-family: $f_Montserrat-Regular
    @include font(14px, 20px)
    color: #484953
    font-weight: 200
    @include media(1220px)
      @include font(16px, 24px)
    &:hover
      text-decoration: none
      position: relative
      color: #002EA6
      &:after
        @include pseudo(100%, 4px)
        background: #002EA6
        left: 0
        top: 44px

.fenix3-new__nav-item
  span
    font-family: $f_Montserrat-Regular
    position: relative
    color: #002EA6
    &:after
      @include pseudo(100%, 4px)
      background: #002EA6
      left: 0
      top: 26px
      @include media(768px)
        top: 44px

.fenix3-new__action
  margin: 10px 0 0 0
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  @include media(768px)
    margin: 0
    flex-direction: row
    align-items: center
    a
      margin: 0 10px

.fenix3-new__buy
  font-family: $f_Montserrat-Regular
  @include font(14px, 20px)
  text-decoration: underline
  color: #484953
  @include media(1220px)
    @include font(16px, 24px)
  &:hover
    position: relative
    color: #002EA6
    text-decoration: none

.fenix3-new__download
  font-family: $f_Montserrat-Regular
  padding: 10px 0
  margin: 20px auto
  width: 135px
  display: inline-block
  @include font(14px, 20px)
  color: #fff
  background: #002EA6
  text-transform: uppercase
  border-radius: 12px
  font-weight: 600
  @include media(768px)
    margin: 0
  &:hover
    text-decoration: none
    color: #fff


/** Fenix3 Left Sidebar **/

.fenix3__main-content-wrapper
  @include media(1024px)
    display: flex
    justify-content: space-between
    margin: 40px 0 0 0

.fenix3__left-sedebar-list
  margin: 50px 16px 0 16px
  list-style: none
  background: #F7F7F7
  border-radius: 8px
  transition: .3s ease
  @include media(768px)
    max-width: 400px
    margin: 50px auto 20px auto
  @include media(1024px)
    margin: 40px auto 20px auto
    position: sticky
    top: 180px
  @include media(1220px)
    margin: 40px auto 20px auto
    position: sticky
    top: 120px
  &::-webkit-scrollbar
    width: 4px
  &::-webkit-scrollbar-track
    background: #f1f1f1
  &::-webkit-scrollbar-thumb
    background: #002EA6

.fenix3__left-sedebar-list-static
  margin: 50px 16px 0 16px
  list-style: none
  background: #F7F7F7
  border-radius: 8px
  @include media(768px)
    max-width: 400px
    margin: 50px auto 20px auto
  @include media(1024px)
    margin: 40px auto 20px auto
    position: sticky
    top: 120px

.fenix3__left-sedebar-link
  padding: 12px 17px
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  cursor: pointer
  font-family: $f_Montserrat-Regular
  &:hover
    padding: 12px 17px 12px 17px
    box-shadow: 2px 0px 0px 0px #002EA6 inset
    a
      color: #002EA6
      text-decoration: none
      //font-weight: 600
      @include font(16px, 24px)
  a
    @include font(16px, 24px)
    color: #484953

.fenix3__left-sedebar-link-features
  padding: 12px 17px
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  cursor: pointer
  font-family: $f_Montserrat-Regular
  &:hover
    padding: 12px 17px 12px 17px
    //box-shadow: 2px 0px 0px 0px #002EA6 inset
    &:after
      @include pseudo(2px, 100%)
      left: 0
      background: #002EA6
    a
      color: #002EA6
      text-decoration: none
      //font-weight: 600
      @include font(16px, 24px)
  a
    @include font(16px, 24px)
    color: #484953

.fenix3__left-sedebar-link-static
  padding: 12px 17px
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  cursor: pointer
  font-family: $f_Montserrat-Regular
  &:hover
    padding: 12px 17px 12px 17px
    box-shadow: 2px 0px 0px 0px #002EA6 inset
    a
      color: #002EA6
      text-decoration: none
      //font-weight: 600
  a
    @include font(16px, 24px)
    color: #484953

.fenix3__left-sedebar-link_active
  padding: 12px 17px 12px 17px
  //box-shadow: 2px 0px 0px 0px #002EA6 inset
  a
    color: #002EA6 !important
    text-decoration: none
    //font-weight: 600

.fenix3__left-sedebar-link_active-inner
  padding: 12px 17px 12px 17px
  //box-shadow: 2px 0px 0px 0px #002EA6 inset
  position: relative
  &:after
    @include pseudo(2px, 100%)
    background: #002EA6
    left: 0
  a
    color: #002EA6 !important
    text-decoration: none

//font-weight: 600

.fenix3__left-sidebar-arrow
  display: block
  width: 12px
  height: 12px
  background: url("../img/arrow-icon.svg") center no-repeat
  transform: rotate(90deg)
  cursor: pointer

.fenix3__left-sedebar-link.fenix3__active-page
  color: #002EA6
  //font-weight: 600
  box-shadow: 2px 0px 0px 0px #002EA6 inset

.fenix3__left-sidebar-arrow_active
  transform: rotate(-90deg)

.fenix3__left-sidebar-submenu
  list-style: none
  max-height: 0
  display: none

.fenix3__left-sidebar-submenu_active
  max-height: 100%
  display: block
  opacity: 1

.fenix3__left-sidebar-submenu-item
  padding: 10px 24px 10px 32px
  a
    font-family: $f_Montserrat-Regular
    @include font(14px, 20px)
    color: #484953
    &:hover
      //font-weight: 600
      color: #002EA6
      text-decoration: none

.fenix3__left-sidebar
  @include media(1024px)
    width: 26%

.fenix3__main-body
  padding: 36px 16px
  @include media(1024px)
    padding: 36px 0
    width: 70%

.fenix3__main-body-title
  margin: 0 0 50px 0
  @include media(1024px)
    margin: 0 0 70px 0
  h1
    @include font(24px, 30px)
    color: #140D3F
    margin: 0 0 24px 0
    font-family: $f_Montserrat-SemiBold
    @include media(768px)
      max-width: 100%

    @include media(1024px)
      @include font(32px, 42px)
  p
    font-family: $f_Montserrat-Regular
    @include font(16px, 24px)
    @include media(1024px)
      @include font(18px, 28px)

.fenix3__main-body-block
  padding: 0 0 50px 0
  &:last-child
    padding: 0 0 80px 0
    @include media(1024px)
      &:last-child
      margin: 0 0 120px 0
//*
//  outline: 1px solid red

.fenix3__main-body-block-title
  h2
    margin: 0 0 24px 0
    color: #140D3F
    @include font(20px, 30px)
    font-family: $f_Montserrat-ExtraBold
    @include media(1024px)
      @include font(28px, 40px)

.fenix3__main-body-block-text
  margin: 0 0 16px 0
  a
    color: #002EA6
  p
    font-family: $f_Montserrat-Regular
    @include font(16px, 24px)
    @include media(1024px)
      @include font(18px, 28px)

.fenix3__main-body-block-img
  img
    border-radius: 12px
    border: 1px solid #D8D9DD

.fenix3__main-body-block-wrapper
  @include media(768px)
    display: flex

.fenix3__main-body-block-item
  display: flex
  justify-content: flex-start
  padding: 24px 12px
  align-items: center
  background: #F7F7F7
  border-radius: 12px
  margin: 0 0 12px 0
  //width: 300px
  @include media(768px)
    margin: 12px 12px 12px 0
  @include media(1024px)
    padding: 24px
    width: 414px

.fenix3-val__wrap
  @include media(1024px)
    flex-wrap: wrap

.fenix3__main-body-block-icon-wrapper
  position: relative

.fenix3__dynamic-icon
  position: absolute
  top: 19px
  left: 4px
  color: #ffffff
  font-family: $f_Montserrat-ExtraBold
  @include font(10px, 24px)
  text-transform: uppercase
  display: inline-block
  width: 30px
  height: 18px
  text-align: center

    
.fenix3__main-body-block-icon
  img
    width: 48px
    height: 48px

.fenix3__main-body-block-content
  margin: 0 0 0 20px
  p
    font-family: $f_Montserrat-Regular
    margin: 0 0 4px 0

  a
    font-family: $f_Montserrat-Regular
    text-decoration: underline
    color: #002EA6

.f-bold
  font-weight: 600

.fenix3__book
  position: relative
  display: block
  left: 36px
  font-weight: 600
  @include font(14px, 16px)
  margin: 30px 0 20px 0
  &:before
    @include pseudo(24px, 24px)
    left: -36px
    top: 2px
    background: url("../img/book-icon.svg") center no-repeat

.febix3__book-offset

  &:before
    top: -2px

.fenix3_no-border
  img
    border: none

/*** FENIX SERVER ***/

.fenix3-server__content
  min-width: 320px

/** Server Header **/

.server-header
  padding: 80px 0 24px 0
  background: #F7F7F7
  @include media(1025px)
    padding: 20px 0
  &__wrapper
    @include media(768px)
      padding: 0 16px
      display: flex
      align-items: center
      justify-content: space-between
    @include media(1024px)
      padding: 0

  &__sublogo
    text-align: center
    p
      @include font(18px, 24px)
      color: #140D3F
      font-family: $f_Montserrat-ExtraBold
      font-weight: 800
      @include media(768px)
        margin: 0
      @include media(1024px)
        @include font(20px, 26px)

  &__nav-list
    list-style: none
    margin: 16px 0 22px 0
    a
      position: relative
      &:hover
        color: #002EA6
        text-decoration: none
        &:after
          @include pseudo(100%, 2px)
          background: #002EA6
          left: 0

    @include media(768px)
      margin: 0
    @include media(1024px)
      position: relative
      right: -140px
    @include media(1220px)
      right: -260px

  &__nav-item
    text-align: center
    a
      @include font(14px, 20px)
      color: #484953
      font-family: $f_Montserrat-Regular
      @include media(1024px)
        @include font(16px, 24px)

  &__action
    display: flex
    justify-content: center

  &__download
    padding: 10px 32px
    text-align: center
    background: #002EA6
    color: #fff
    font-family: $f_Montserrat-Regular
    border-radius: 12px
    font-weight: 800
    text-decoration: none
    transition: .3s ease-in-out
    &:hover
      color: #fff
      opacity: 0.8
      text-decoration: none
      transition: .3s ease-in-out

/** Server Main **/

.server-main
  padding: 32px 16px 56px 16px
  @include media(1024px)
    padding: 100px 16px
  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
  &__block
    @include media(1024px)
      width: 48%

  &__block-title
    h1
      @include font(24px, 30px)
      font-family: $f_Montserrat-SemiBold
      color: #140D3F
      @include media(1024px)
        @include font(32px, 42px)

  &__action
    margin: 24px 0 0 0
    text-align: center
    @include media(1024px)
      margin: 50px 0 0 0
      text-align: left
    @include media(1220px)
      margin: 120px 0 0 0

    a
      display: inline-block
      font-family: $f_Montserrat-Regular
      width: 100%
      padding: 10px 60px
      @include font(14px, 20px)
      background: #002EA6
      color: #fff
      border-radius: 12px
      transition: .3s ease-in-out
      text-transform: uppercase
      font-weight: 800
      @include media(768px)
        width: auto
      @include media(1024px)
        @include font(16px, 24px)
      &:hover
        color: #fff
        opacity: 0.8
        text-decoration: none
        transition: .3s ease-in-out

  &__img
    margin: 32px 0 0 0
    @include media(768px)
      width: 700px
      margin: 32px auto 0 auto
    @include media(1024px)
      width: auto
      margin: 0 auto

/** Server Benefits **/

.server-benefits
  padding: 46px 16px 48px 16px
  background: #F4F8FE
  @include media(1024px)
    padding: 100px 16px
  @include media(1220px)
    padding: 80px 16px 170px 16px

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between

  &__block
    @include media(1024px)
      width: 48%

  &__title
    margin: 0 0 24px 0
    p
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)

  &__content
    p
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)
        margin: 0 0 24px 0

  &__list-item
    margin: 0 0 8px 20px
    @include font(16px, 24px)
    font-family: $f_Montserrat-Regular
    color: #484953
    @include media(1024px)
      @include font(18px, 28px)
    &::marker
      color: #002EA6

/** Features **/

.server-features
  padding: 72px 16px 56px 16px
  @include media(1024px)
    padding: 100px 16px
  @include media(1220px)
      padding: 140px 16px 220px 16px
  &__wrapper
    @include media(1220px)
      padding: 0 0 0 100px

  &__title
    margin: 0 0 24px 0
    h2
      @include font(28px, 33px)
      color: #140D3F
      font-family: $f_Montserrat-ExtraBold
      @include media(1024px)
        @include font(40px, 48px)

  &__content
    p
      @include font(20px, 30px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(28px, 40px)

/** Server Access **/

.server-access
  padding: 48px 16px
  background: #F4F8FE
  @include media(1024px)
    padding: 100px 16px
  @include media(1220px)
    padding: 0 16px
    background: none

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
      flex-direction: row-reverse
      align-items: center
    @include media(1220px)
      position: relative
      background: #F4F8FE
      padding: 116px 0
      &:after
        @include pseudo(126px, 100%)
        left: 0
        top: 0
        background: #fff
        z-index: 0

  &__block
    @include media(1024px)
      width: 48%

  &__title
    margin: 0 0 24px 0
    @include media(1024px)
      margin: -40px 0 64px 0
    @include media(1220px)
      margin: -80px 0 64px 0
    p
      @include font(18px, 28px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        margin: 0 0 24px 0
    h2
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)

  &__content
    margin: 0 0 16px 0
    @include media(1220px)
      max-width: 460px
    p
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)

  &__img
    position: relative
    z-index: 1
    @include media(768px)
      margin: 0 auto
      width: 700px
    @include media(1024px)
      width: auto
    @include media(1220px)
      position: relative
      width: 488px
      left: -46px
    img
      border-radius: 12px
      border: 1px solid #D8D9DD


/** Server Tasks **/

.server-tasks
  margin: 56px 0 0 0
  padding: 48px 16px
  background: #F4F8FE
  position: relative
  @include media(1220px)
    margin: 80px 0 0 0
    background: none
  &:after
    @include pseudo(100%, 90px)
    background: #fff
    left: 0
    bottom: 0
    z-index: 0

  &__wrapper
    position: relative
    @include media(1024px)
      display: flex
      justify-content: space-between
    @include media(1220px)
      background: #F4F8FE
      padding: 64px 56px 84px 126px
      align-items: center
      &:after
        @include pseudo(100%, 180px)
        background: #F4F8FE
        left: 0
        bottom: -180px
  &__block
    @include media(1024px)
      width: 48%

  &__title
    margin: 0 0 24px 0
    p
      @include font(18px, 28px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        margin: 0 0 24px 0
    h2
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)

  &__subtitle
    p
      @include font(16px, 24px)
      font-family: $f_Montserrat-ExtraBold
      color: #484953
      @include media(1024px)
        @include font(20px, 28px)
      @include media(1220px)
        max-width: 450px

  &__content
    margin: 0 0 16px 0
    @include media(1220px)
      margin: 100px 0 0 0
    p
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)

  &__img
    position: relative
    z-index: 1
    @include media(1220px)
      padding: 0 124px
    img
      border-radius: 12px
      border: 1px solid #D8D9DD

/** Server Custom **/

.server-custom
  padding: 48px 16px
  background: #F4F8FE
  @include media(1024px)
    padding: 100px 16px
  @include media(1220px)
    margin: 80px 0 0 0
    padding: 0 16px
    background: none

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
      flex-direction: row-reverse
      align-items: center
    @include media(1220px)
      position: relative
      background: #F4F8FE
      padding: 116px 0
      &:after
        @include pseudo(126px, 100%)
        left: 0
        top: 0
        background: #fff
        z-index: 0

  &__block
    @include media(1024px)
      width: 48%

  &__title
    margin: 0 0 24px 0
    @include media(1024px)
      margin: -40px 0 24px 0
    @include media(1220px)
      margin: -80px 0 24px 0
    p
      @include font(18px, 28px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        margin: 0 0 24px 0
    h2
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)

  &__content
    margin: 0 0 16px 0
    @include media(1220px)
      max-width: 460px
    p
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)

  &__img
    position: relative
    z-index: 1
    @include media(768px)
      width: 700px
      margin: 0 auto
    img
      border-radius: 12px
      border: 1px solid #D8D9DD
    @include media(1024px)
      position: relative
      width: auto
      //left: -36px
    @include media(1220px)
      position: relative
      width: 520px
      left: -36px

/** Server Process **/

.server-process
  margin: 56px 0 0 0
  padding: 48px 16px
  background: #F4F8FE
  position: relative
  @include media(1220px)
    background: none

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
    @include media(1220px)
      padding: 64px 70px 92px 124px
      background: #F4F8FE
      align-items: center

  &__block
    @include media(1024px)
      width: 49%

  &__title
    margin: 0 0 24px 0
    p
      @include font(18px, 28px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        margin: 0 0 24px 0
    h2
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)

  &__subtitle
    @include media(1024px)
      max-width: 460px
    p
      @include font(16px, 24px)
      font-family: $f_Montserrat-ExtraBold
      color: #484953
      @include media(1024px)
        @include font(20px, 28px)

  &__content
    margin: 0 0 16px 0
    @include media(1220px)
      margin: 126px 0 16px 0
    p
      margin: 0
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)

  &__img
    position: relative
    z-index: 1
    img
      border-radius: 12px
      border: 1px solid #D8D9DD

/** Server Results**/

.server-results
  margin: 56px 0 0 0
  padding: 48px 16px
  background: #F4F8FE
  position: relative
  @include media(1024px)
    margin: 40px 0 0 0
  @include media(1220px)
    background: none

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
      align-items: center
    @include media(1220px)
      position: relative
      padding: 64px 84px 64px 120px
      background: #F4F8FE
      &:after
        @include pseudo(126px, 100%)
        right: 0
        top: 0
        background: #fff
        z-index: 0

  &__block
    @include media(1024px)
      width: 48%

  &__title
    margin: 0 0 24px 0

    p
      @include font(18px, 28px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1220px)
        margin: 0 0 24px 0
    h2
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)
      @include media(1220px)
        max-width: 300px

  &__content
    margin: 0 0 16px 0
    @include media(1220px)
      max-width: 460px
    p
      margin: 0
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)

  &__img
    position: relative
    z-index: 1
    @include media(768px)
      width: 700px
      margin: 0 auto
    @include media(1024px)
      width: 488px
      height: 410px
    @include media(1220px)
      right: -86px
    img
      border-radius: 12px
      border: 1px solid #D8D9DD

/** Server Integration **/

.server-integration
  margin: 56px 0 0 0
  padding: 48px 16px
  background: #F4F8FE
  position: relative
  @include media(1220px)
    margin: 100px 0
    background: none
  &:after
    @include pseudo(100%, 250px)
    background: #fff
    left: 0
    bottom: 0
    z-index: 0
    @include media(1024px)
      height: 120px
    @include media(1220px)
      display: none

  &__wrapper
    @include media(1024px)
      padding: 64px 130px 92px 130px
      display: flex
      justify-content: space-between
      flex-direction: row-reverse
    @include media(1220px)
      padding: 64px 130px 92px 130px
      position: relative
      background: #F4F8FE
      &:after
        @include pseudo(126px, 100%)
        background: #fff
        left: 0
        bottom: 0
        z-index: 0
        
  &__block
    position: relative
    @include media(1024px)
      width: 47%

  &__title
    margin: 0 0 24px 0
    p
      @include font(18px, 28px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        margin: 0 0 24px 0
    h2
      @include font(20px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)

  &__content
    margin: 0 0 16px 0
    p
      margin: 0
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #484953
      @include media(1024px)
        @include font(18px, 28px)

  &__img
    position: relative
    z-index: 1
    height: 495px
    overflow: hidden
    border-radius: 12px
    border: 1px solid #D8D9DD
    @include media(425px)
      height: 650px
    @include media(768px)
      width: 425px
      margin: 0 auto
      height: 700px

    @include media(1024px)
      position: absolute
      top: -130px
      left: -60px
      width: 300px
      height: 484px
    @include media(1220px)
      position: absolute
      top: -130px
      left: 90px
      width: 300px
      height: 484px
    img
      border-radius: 12px
      @include media(1024px)
        position: absolute
      @include media(1220px)
        position: absolute


/** Server Cta **/

.server-cta
  padding: 48px 16px 58px 16px
  background: #002EA6
  @include media(1024px)
  @include media(1220px)
    padding: 80px 0 130px 0

  &__wrapper
    @include media(768px)
      display: flex
      justify-content: space-around
    @include media(1024px)
      justify-content: space-between
    @include media(1220px)
      justify-content: space-between

  &__block
    @include media(1024px)
      width: 43%
    @include media(1220px)
      width: 48%

  &__title
    p
      @include font(24px, 30px)
      font-family: $f_Montserrat-ExtraBold
      color: #fff
      @include media(1024px)
        @include font(32px, 48px)

  &__action
    p
      margin: 24px 0 32px 0
      @include font(16px, 24px)
      font-family: $f_Montserrat-Regular
      color: #fff
      @include media(768px)
        margin: 0 0 32px 0
      @include media(1024px)
        @include font(18px, 28px)
    a
      padding: 10px 32px
      font-family: $f_Montserrat-Regular
      color: #002EA6
      font-weight: 800
      background: #ffffff
      border-radius: 12px
      text-transform: uppercase
      transition: .3s ease-in-out
      &:hover
        transition: .3s ease-in-out
        opacity: 0.8
        text-decoration: none

.fenix3-server-download
  a
    margin: 5px auto

.fenix3-server-sublogo
  p
    font-family: $f_Montserrat-ExtraBold

.fenix3-server__nav-list
  @include media(1024px)
    margin: 0 0 0 200px
  @include media(1220px)
    margin: 0 0 0 450px

.fenix3-server-title
  @include media(1220px)
    max-width: 700px
  h1
    font-family: $f_Montserrat-ExtraBold
    @include media(1024px)
      @include font(40px, 48px)

.fenix3-server-text
  @include media(1220px)
    max-width: 700px

.fenix3-server-img
  @include media(1220px)
    width: 700px


/*** ABOUT PAGE ***/

/** Fenix3 About Header **/

.fenix3-about-header
  padding: 104px 16px 48px 16px
  background: #F4F8FE
  @include media(1024px)
    padding: 105px 16px

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
      align-items: center

  &__block
    @include media(1024px)
      width: 48%

  &__title
    margin: 0 0 32px 0
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      color: #140D3F
      @include media(1024px)
        @include font(18px, 28px)
      @include media(1220px)
        margin: 0 0 32px 0

    h1
      font-family: $f_Montserrat-ExtraBold
      @include font(20px, 30px)
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)
      @include media(1220px)
        //max-width: 460px

  &__text
    @include media(1024px)
      margin: 60px 0 0 0
    @include media(1220px)
      max-width: 480px
      margin: 60px 0 0 90px
    p
      font-family: $f_Montserrat-Regular
      @include font(16px, 24px)
      color: #140D3F
      @include media(1024px)
        @include font(18px, 28px)

/** Fenix3 About Map **/

.fenix3-about-map
  
  &__content
    position: relative

  &__img
    height: 610px
    overflow: hidden
    @include media(1024px)
      height: 662px

    img
      height: 610px
      object-fit: cover
      object-position: 30%
      transform: scale(1.5) translate(8%, 16%)
      @include media(1024px)
        object-position: 20%
        height: 662px
        transform: scale(1) translate(0%, 0%)
      @include media(1220px)
        width: 100%
        object-fit: cover
        object-position: 0%

  &__block
    width: 290px
    padding: 32px 24px
    position: absolute
    top: 50px
    left: 50%
    transform: translate(-50%, 0)
    background: #002EA6
    @include media(1024px)
      padding: 90px 52px
      width: 540px
      top: 50%
      transform: translate(-13%, -50%)
    @include media(1220px)
      padding: 113px 72px
      width: 592px
      top: 50%
      transform: translate(2%, -50%)


  &__text
    span
      display: inline-block
      margin: 0 0 16px 0
      font-family: $f_Montserrat-SemiBold
      @include font(14px, 20px)
      color: #fff
      @include media(1024px)
        margin: 0 0 32px 0
    p
      display: inline-block
      margin: 0 0 20px 0
      @include font(20px, 30px)
      color: #ffffff
      font-family: $f_Montserrat-Regular
      @include media(1024px)
        @include font(28px, 40px)
        margin: 0 0 48px 0
      @include media(1220px)
        max-width: 365px

  &__action
    a
      display: inline-block
      text-align: center
      width: 100%
      padding: 12px 0
      @include font(14px, 20px)
      color: #002EA6
      font-family: $f_Montserrat-Regular
      font-weight: 600
      background: #ffffff
      text-transform: uppercase
      border-radius: 12px
      transition: .3s ease-in-out
      @include media(1024px)
        width: auto
      &:hover
        opacity: 0.8
        text-decoration: none
        transition: .3s ease-in-out


/** Fenix3 About Facts **/

.fenix3-about-facts

  &__header
    margin: 56px 0 24px 0
    padding: 0 16px
    @include media(1024px)
      position: relative
      top: 40px
    @include media(1220px)
      padding: 0
    h2
      font-family: $f_Montserrat-ExtraBold
      @include font(20px, 30px)
      color: #140D3F
      @include media(1024px)
        @include font(28px, 40px)
        color: #140D3F

  &__wrapper
    @include media(1024px)
      margin: -20px 0 120px 0
      display: flex
      justify-content: space-between
      flex-direction: row-reverse
      align-items: flex-end

  &__block
    @include media(1024px)
      width: 48%
      &:first-child
        width: 64%

  &__item
    margin: 0 0 16px 0
    padding: 0 0 16px 0
    border-bottom: 1px solid #D8D9DD
    &:first-child
      padding: 16px 0
    &:last-child
      border: none
      @include media(1024px)
        margin: 0
        border-bottom: 1px solid #D8D9DD

    @include media(768px)
      display: flex
      justify-content: space-between
    p
      margin: 0 0 8px 0
      font-family: $f_Montserrat-Regular
      @include font(14px, 20px)
      color: #484953

    span
      font-family: $f_Montserrat-ExtraBold
      @include font(14px, 20px)
      color: #484953
      @include media(1024px)
        @include font(16px, 24px)

  &__text
    padding: 0 16px
    margin: 0 0 80px 0
    @include media(1024px)
      margin: 60px 0 0 0
      max-width: 360px
    @include media(1220px)
      margin: 60px 0 0 0
      padding: 0
      max-width: 420px
    p
      font-family: $f_Montserrat-Regular
      @include font(14px, 20px)
      color: #484953
      @include media(1024px)
        &:last-child
          margin: 0

.fenix3-about-bck
  padding: 0 16px
  background: #F4F8FE
  @include media(1024px)
    padding: 48px


/*** Write Us ***/

.fenix3-writeus
  padding: 0 16px 56px 16px
  @include media(1024px)
    padding: 0 16px 120px 16px
  &__title

    padding: 100px 0 0 0
    margin: 0 0 32px 0
    @include media(1220px)
      margin: 0 0 74px 0
    h1
      font-family: $f_Montserrat-ExtraBold
      @include font(28px, 33px)
      color: #140D3F
      @include media(1024px)
        @include font(40px, 48px)

  &__wrapper
    @include media(1024px)
      display: flex
      justify-content: space-between
      align-items: center

  &__block
    @include media(1024px)
      width: 45%
  &__img
    display: none
    @include media(1024px)
      display: block
    @include media(1220px)
      margin: -80px 0 0 0
      img
        width: 420px
        margin: 0 auto
        display: block

.download-form-input_problem-container
  margin: 0 0 24px 0

.download-form-input_file-container
  flex-direction: row !important
  justify-content: space-between

.writeus__form
  max-width: 500px

.writeus-input
  @include media(1024px)
    //margin: 0 0 24px 0

.for-sm-input-file
  margin: 0 0 0 26px
  position: relative
  font-family: $f_Montserrat-Regular
  @include font(16px, 24px)
  color: #002EA6 !important
  opacity: 1 !important
  text-decoration: underline
  cursor: pointer
  &:after
    @include pseudo(16px, 14px)
    background: url("../img/clip-icon.svg") center no-repeat
    background-size: contain
    left: -26px
    top: 2px

.sm-input-file
  opacity: 0
  width: 1px
  position: absolute

.span-text
  font-family: $f_Montserrat-Regular
  cursor: pointer

.span-text-upload
  position: relative
  margin: 0 20px 0 0
  &:after
    @include pseudo(10px, 10px)
    background: url("../img/remove-icon.svg") center no-repeat
    right: -20px
    top: 8px

.form-label
  opacity: 0
  position: relative
  top: 24px
  transition: .3s ease

.form-label_active
  opacity: 1
  position: relative
  top: 0px
  transition: .1s ease
